{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block page_content %}
	<p>
		<strong>{{ 'Dashboard'|trans }}</strong>
	</p>
	<div class="card-group">
		<div class="card">
			<div class="list-group">
				<a href="{{ path('admin_deployer_deploy') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
					{{ 'deployer.deploy'|trans }}
					<span class="badge badge-primary badge-pill">1</span>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
