{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block page_title 'Capistrano' %}
{% block page_content %}
	<p>
		<strong>{{ 'Capistrano'|trans }}</strong>
	</p>
	<div class="card-group">
		<div class="card">
			{{ content|raw|nl2br }}
		</div>
	</div>
{% endblock %}
